_site
.sass-cache
.jekyll-metadata
_includes/BackupJan232016
_archive 
_posts/blog/archives
_posts/projects/archives
projects/backupJan232016
_posts/projects/archives/*ipynb
_posts/projects/_2016-01-23-pharmapay.md
