<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<!--<link rel="stylesheet" href="assets/css/main.css" /> --> 
<link rel="stylesheet" href="/blog/assets/css/main.css" />
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=desert"></script> <!--prettify-->
<!--<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?;skin=sunburst"></script>--> <!--prettify-->
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->


