<ul class="icons">

	<li><a href="https://twitter.com/concinte" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.linkedin.com/in/alex-mwai-b86b2129" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                                        <li><a href="mailto:concinte@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                                                        <li><a href="https://github.com/amwai" class="icon fa-github"><span class="label">GitHub</span></a></li>
                                                        <!--<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
                                                        <!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
                                                        <!--<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
                                                </ul>
